body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans;
    margin: 0;
    /* padding: 0; */
    min-height: 100vh;
    width: 100%;
}

header {
    position: relative;
    height: 9rem;
    width:auto;
    background-color: #B61827;
    background-image: url("https://drive.google.com/uc?id=1c95hz-AXzzyWIgbvG3lJgdRmXpKQktzC");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;

}

div {
    display: flex;
    align-items: center;
    justify-content: center;

}

table {
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 60%);
    text-transform: uppercase;
    display: flex;
    text-align: end;
    justify-content: center;
    align-items: center;
    margin: auto;

}


td {
    padding: 10px;
}

.entrada {
    text-align: center;
    width: 20%px;
    height: 25px;
    border: 1px solid black;
    border-radius: 13px;
    border: 1px solid black;
    box-shadow: 3px 3px rgba(128, 128, 128, 60%);
}

.botão_media {
    cursor: pointer;
    border: 1px solid white;
    color: white;
    width: 140px;
    height: 30px;
    border-radius: 15px;
    margin-top: 35px;
    text-transform: uppercase;
    background-color: #B61827;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 60%);
}

footer {
    position:relative;
    width: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

main {
    padding: 60px;
}

#resultado {
    margin: 30px;
    font-weight: bold;
    font-size: 20px;
}

.check1{
    color:white;
    background:green;
    border-radius:15px;
    border:1px solid black;
    padding:auto;
    box-shadow: 3px 3px rgba(128, 128, 128, 60%);
    margin-right:30px;
    width: 40px;
    height: 25px;
    text-align: center;
    text-transform: uppercase;
}
.check2{
    color:white;
    background:#B61827;
    border-radius:15px;
    border:1px solid black;
    padding:auto;
    box-shadow: 3px 3px rgba(128, 128, 128, 60%);
    width: 40px;
    height: 25px;
    text-align: center;
    text-transform: uppercase;
}


.verp2{
    font-weight: bold;
    animation: pulse 2s infinite;
    margin:45px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    width: 240px;
    height: 30px;
    border-radius: 15px;
    margin-top: 35px;
    text-transform: uppercase;
    background-color:blue;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 60%);
    }


/* //animações// */

@keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    50% {
      transform: scale(1.2);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
  }
  
  
